<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065423652294-ah8e70gbm1a0cigh14k3375egror5pac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065423652294-ah8e70gbm1a0cigh14k3375egror5pac</string>
	<key>API_KEY</key>
	<string>AIzaSyBgzC6nrvz_LqJk2ruNJLzO_u8Od6HtflI</string>
	<key>GCM_SENDER_ID</key>
	<string>1065423652294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-1101.MarketPlace</string>
	<key>PROJECT_ID</key>
	<string>marketplace-dcf45</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-dcf45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065423652294:ios:5e2049d1a24250412a5ec7</string>
</dict>
</plist>